.update-component {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .update-component h4 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    font-size: 16px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
  }
  
  .btn-div {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-submit {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 70%;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  
  #toast-container {
    top: 0;
    right: 0;
    .Toastify__toast {
      background: #333;
      color: #fff;
      font-size: 16px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      margin: 10px;
    }
  
    .Toastify__toast-body {
      padding: 10px;
    }
  }
  